<div class="page-header">
  <h1>Showing authors</h1>
</div>
<% @author.each do |author| %>
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="" alt="">
      <div class="caption">
        <h3><%= author.name %></h3>
        <p>Summary will be added soon</p>
        <p><%= link_to 'view profile', author_path(author), class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>
<% end %>