<div class="page-header">
  <h1>Showing all books</h1>
</div>
<% @book.each do |book| %>
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="" alt="">
      <div class="caption">
        <h3><%= book.title %></h3>
        <p>Summary will be added soon</p>
        <p><%= link_to 'view book', book_path(book), class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= render 'layouts/paginate', obj: @book %>
