$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

#main {
  color: #fff;
}

.dropdown {
  color: #fff;
}

.caption {
  text-align: center;
  color: #08088A;
}

.jumbotron {
  background-image: asset-url('Bookshelf.jpeg')
}

.h1 {
  color: #fff;
}

.header {
  color: #fff;
}

.book_index {
  height: auto;
  width: 40%;
  object-fit: contain;
}

#profile-btn {
  margin-bottom: 10px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
float: left;
}

footer ul {
float: right;
list-style: none;
}

footer ul li {
float: left;
margin-left: 15px;
}
